<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Elle Kasai</h4>
      <div class="media-body">
        <img src="https://avatars.githubusercontent.com/u/3999441?v=4" alt="Benjamin André">
      </div>
    </div>
  </p>
</div>

<h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>
